{% extends 'layout.html' %}

{% block body %}

<div class="ui segment teal inverted">
    <h1 class="ui header aligned center">About the DSI dashboard</h1>
      <p class="lead">This application is built on the <a href="http://flask.pocoo.org/docs/0.12/">Python Flask framework</a>. A Micro web-development framework for Python.</p>
  </div>

  <h1 class="ui header large">About the dashboard</h1>
  <div class="ui header">
    <p>This application has been created as a front end to the meta data used by the Data Sharing &amp; Integration group.</p>
    <p>For an End-users</p>
       {% if not session.logged_in %}
       <ul>
          <li>Please <a href="{{url_for('login')}}">log in</a> so that we can customize your content and to access some features.</li>
          <li>Please use the Menu items to access other features.</li>
       </ul>
       {% else %}
       <ul>
          <li>Please use the Menu items to access other features.</li>
       </ul>
       {% endif %} 

       <div class="ui segment basic">
        <p>Any comments, issues or errors then please contact the <a href="mailto:marcus.hibell@roche.com?Subject=About%20the%20DSI%20dashboard" target="_top">DSI team.</p>
      </div>
      <div class="ui segment basic">
          <div class="ui label">Semanti-UI<div class="detail">version 2.4.2</div></div>
          <div class="ui label">Jquery<div class="detail">version 3.3.1</div></div>
          <div class="ui label">Chart.js<div class="detail">version 2.7.2</div></div>
          <div class="ui label">D3.js<div class="detail">version 5.7.0</div></div>
          <div class="ui label">DataTables<div class="detail">version 1.10.19</div></div>
        </div>
      </div>
        
  </div>

{% endblock %}
