{% extends 'layout.html' %}

{% block body %}
<div class="ui segment teal inverted">
  <h1 class="ui header aligned center">Run Code</h1>
  <div class="description">
    Run a program and see the log
  </div>
</div>


<form class="ui form">
    <button class="ui button positive" name="submit" type="submit" value="submit">Run Code</button>
    <button class="ui button"          name="clear"  type="clear"  value="clear">Clear Log</button>
    <button class="ui button blue "    name="save"   type="save"   value="save">Save Log</button>
</form>
<br>

<div class="ui compact menu">
  <a class="item">
    <i class="icon mail"></i> Errors
    <div class="floating ui red label">{{e}}</div>
  </a>
  <a class="item">
    <i class="icon users"></i> Warnings
    <div class="floating ui teal label">{{w}}</div>
  </a>
</div>

<div class="ui segment green fixed">
  <div id="toclear">
    {% for ll in loglines %}
      {{ll|safe}}
    {% endfor %}    
  </div>
</div>

 
<div class="ui basic modal" id="mod1">
  <div class="content">
    <div class="description">
        {% include 'includes/_messages.html' %}
    </div>
  </div>
</div>

  <!--JS SCRIPTS FOR THE SEMANTIC-UI TO WORK AS REQUIRED-->
  <script type="text/javascript">
    $('#jiratable').tablesort();
    $('#studyselect').dropdown();
    $('#schemasel').dropdown();
    $('#tablesel').dropdown();

    $('#search-select').dropdown();

    $('#schemasubmit').form('submit');
    $('#schemaclear').form('clear');

  </script>  
  
{% endblock %}
